.stepper-container {
  height:100%;
  background-color: white;
}

::ng-deep mat-stepper {
  height : 650px;
}

::ng-deep form {
  height:100%;
}

::ng-deep mat-error {
  color: red
}

h1 {
  color: white
}
