h1 {
  color: white
}

table {
  width: 100%;
}

th{
  background-color: #f0f0f0;
  font-weight: bold;
  font-size: 20px;
}

td.mat-cell {
  padding: 16px;
}

td{
  font-size: 20px;
}

mat-table {
  margin: 20px 0;
}
